NODE_ENV=dev
APP_NAME=StreamingLive

# Node.js server configuration
SERVER_PORT=8200

# MySql configuration
DB_HOST=mysql
DB_DATABASE=streamingLive
DB_USER=root
DB_PASSWORD=123456

JWT_SECRET_KEY=this is a test key that is a sentence

#Access Management Api
ACCESS_API=http://localhost:8082
