ENVIRONMENT=dev
MYSQL_ROOT_PASSWORD=123456
MYSQL_USERNAME=root
MYSQL_HOSTNAME=fs-mysql
JWT_SECRET_KEY=this is a test key that is a sentence
JWT_EXPIRATION=2 days
PROTOCOL=http
DOMAIN=localhost
GOOGLE_ANALYTICS=UA-123456789-1
SUPPORT_EMAIL=support@example.com






REACT_APP_CONTENT_ROOT=https://app.staging.chums.org
REACT_APP_B1_URL=https://app.staging.b1.church
REACT_APP_SUB_URL=http://{key}.localhost:3201
REACT_APP_REQUIRE_PUBLISH=true
