JWT_SECRET_KEY=this is a test key that is a sentence

#AWS Hosted
#DB_PROVIDER=dynamo
#DELIVERY_PROVIDER=aws
#CONNECTIONS_TABLE=staging-sl-connections
#CATCHUP_TABLE=staging-sl-catchup

#AWS Local Hosted
#DYNAMO_LOCAL_ENDPOINT=http://localhost:8000 

#Locally Hosted
DB_PROVIDER=local
DELIVERY_PROVIDER=local